.rating {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    flex-direction: row-reverse;
}


.rating__star {
    font-size: 1.5rem;

    /* Reset styles for button */
    background-color: transparent;
    border: transparent;
    margin: 0 2px;
    padding: 0;
    color: #eab308;
    content: '★';

}