.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "Rname Rname Rating_date"
      "Rcontent Rcontent Rcontent";
      width: 55%;
      border: 2px solid #cccccca8;

  }
  
  .Rname {
    align-self: center;
    grid-area: Rname;
  }
  
  .Rating_date {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "rating rating rating"
      "date date date";
    grid-area: Rating_date;
  }
  
  .rating {
    justify-self: end;
    align-self: start;
    grid-area: rating;
    padding-top: 7px;
  }
  
  .date {
    justify-self: end;
    align-self: center;
    grid-area: date;
  }
  
  .Rcontent {
    justify-self: stretch;
    align-self: center;
    grid-area: Rcontent;
    width: 85%;
  }
  