tr {
  font-size: 14px;
}
.hide {
  transform: scaleY(0);
  height: 0vh;
}
.show {
  transform: scaleY(1);
  transform-origin: top;
  transition: 0.5s;
}
.curserBtn {
  cursor: pointer;
}
td img {
  width: 100%;
  max-width: 150px;
  min-width: 50px;
}