.card {
    flex-direction: row;
    max-width: 35em;
    border: 0;
    background-color: #d0b1b1;
    color: #fff;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.18);
  }
  .imgi {
    max-width: 150px;
    max-height: 150px;
    margin: auto;
    padding: 0.5em;
    border-radius: 0.7em;
  }
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
  }
  .text-section {
    max-width: 80%;
  }
  .cta-section {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 7px;
  }
  .cta-section .btn {
    padding: 0.2em 0.5em;
    font-size: 1em;
    color: rgb(212, 39, 39);
  }
  .card-text {
    letter-spacing: 0.1em;
  }